* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: hsl(80, 10% , 10%);
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

#logo{
  color: white;
  font-family: "Abril Fatface";
}

.nav-header {
  min-height: 10vh;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  width: 80%;
  margin: auto;
  padding: 2rem 0rem;
}

.line1
,.line2 {
  width: 3rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: white;
  pointer-events: none;
}

.slide {
  min-height: 100vh;
  margin: 0 auto 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background: hsl(80, 20% , 10%);
} 

.hero-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  flex-basis: 25rem;
  padding-left: 5rem;
  position: relative;
}

.hero-img {
  position: relative;
  flex: 1;
  flex-basis: 25rem;
  overflow: hidden;
}

.hero-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fashion-span {
  color: hsl(32, 78%, 59%)
}
.mountain-span {
  color: hsl(238, 80%, 60%)
}
.hike-span {
  color: hsl(285, 83%, 50%)
}

.hero-desc h2 {
  font-family: "Abril Fatface";
  font-size: 5rem;
}

.hero-desc p {
  padding: 3rem 0rem;
  font-size: 1.5rem;
  color: hsla(0, 8%, 88%, 0.758)
} 

.explore {
  padding: 1rem 2rem;
  background: none;
  border: none;
  color: white;
  border: 1px solid white;
  font-size: 1rem;
  text-decoration: none;
  align-self: flex-start;
  cursor: pointer;
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
  opacity: 1;
  background: hsl(40, 36%, 47%);
  clip-path: circle(50px at 100% -10%);
  -webkit-clip-path: circle(50px at 100% -10%);
}

.burger {
  cursor: pointer;
}

.nav-links {
  font-size: 3rem;
  flex-basis: 30rem;
}

.nav-links h3{
  padding: 3rem 0rem;
}

.contact {
  flex-basis: 30rem;
}

.contact h2 {
  font-size: 3rem;
  padding: 2rem 0rem;
}

.contact p {
  font-size: 1.5rem;
  line-height: 2rem;
}

.reveal-img, 
.reveal-text {
  position: absolute;
  width: 100%;
  height: 150%;
  background: hsl(80, 20% , 10%);
  left: 0;
  top: -15%;
}

.cursor {
  width: 3rem;
  height: 3rem;
  border: 2px solid white;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.5s ease-out;
  transition-property: background, transform;
  transform-origin: 75% 75%;
}

.cursor.nav-active {
  background: hsla(169, 76%, 69%, 0.758);
  transform: scale(3);
}

.cursor.explore-active {
  background: hsla(281, 87%, 72%, 0.758);
  transform: scale(3);
}

.cursor-text {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 0.5rem;
  transform: translate(-50%, -50%);
}

.title {
  position: relative;
  overflow: hidden;
}

.title-swipe {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  mix-blend-mode: darken;
  transform: translateY(100%);
}

.t-swipe1 {
  background: hsl(221, 82%, 66%)
}

.t-swipe2 {
  background: hsl(286, 76%, 64%);
}

.t-swipe3 {
  background: hsl(45, 80%, 66%)
}

.scrollmagic-pin-spacer{
  position: static !important;
}



